/*style*/

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

dl,
ol,
ul {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  display: block;
  background: transparent;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

input:focus {
  outline: none;
}

body {
  color: #0F0F0F;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 380px;
  }
}

.section__title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  font-family: 'Montserrat', sans-serif;
}

.section__title-line {
  margin-top: 20px;
  width: 86px;
  height: 2px;
}

.text-center {
  text-align: center;
}

.section__text {
  font-size: 18px;
  line-height: 34px;
}

.slick-slide {
  outline: none;
}

.btn-default {
  padding: 21px 51px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #01A9B4;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-default:hover {
  background: #008088;
}

.btn-bordered {
  padding: 21px 39px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  background: transparent;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #2D2D2D;
}

.btn-bordered:hover {
  border: 3px solid #01A9B4;
  color: #01A9B4;
}

.cta_btn {
  position: relative;
  overflow: hidden;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.cta_btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fa4923;
  opacity: 0;
  z-index: 1;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.cta_btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.md-form {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md-form label {
  display: inline-block;
  position: absolute;
  padding: 0;
  bottom: 25px;
  left: 35px;
  font-size: 16px;
  line-height: 1;
  color: #A6A6A6;
  font-weight: 400;
  -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
  transition: color .2s ease-out,-webkit-transform .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out;
  transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.md-form > label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-form > label::after {
  position: absolute;
  top: 65px;
  display: block;
  content: "";
  opacity: 0;
  -webkit-transition: .2s opacity ease-out,0.2s color ease-out;
  transition: .2s opacity ease-out,0.2s color ease-out;
}

.md-form label.active {
  -webkit-transform: translateY(-27px) translateX(-35px) scale(1);
  transform: translateY(-27px) translateX(-35px) scale(1);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #434343;
  transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
}

.md-form input {
  width: 100%;
  padding: 11px 35px;
  padding-top: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CDCDCD;
  font-size: 16px;
  line-height: 1;
  color: #0F0F0F;
  font-weight: 400;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  font-family: "Open Sans", sans-serif;
}

.md-form {
  position: relative;
  margin-bottom: 55px;
}

.md-form.tel {
  margin-bottom: 0;
}

.md-form input.active,
.md-form textarea.active {
  border-bottom: 1px solid #01A9B4 !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.md-form.name .md-form__icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: url("../img/form-name.svg") no-repeat center !important;
  left: 0;
  width: 16px;
  height: 17px;
  background-size: cover;
  position: absolute;
  bottom: 14px;
}

.md-form.tel .md-form__icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: url("../img/form-tel.svg") no-repeat center !important;
  left: 0;
  width: 16px;
  height: 17px;
  background-size: cover;
  position: absolute;
  bottom: 14px;
}

.md-form.name .md-form__icon.active {
  background: url("../img/form-name-active.svg") no-repeat center !important;
}

.md-form.tel .md-form__icon.active {
  background: url("../img/form-tel-active.svg") no-repeat center !important;
}

@media (max-width: 767px) {
  .section__title {
    font-size: 22px;
  }
}

.header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__tel {
  color: #ffffff !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 60px;
}

.header__tel img {
  margin-right: 8px;
}

.header__tel:hover {
  text-decoration: underline;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__info-btn {
  margin-left: 25px;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-link {
  display: block;
  margin-right: 35px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__social-link:last-child {
  margin-right: 0;
}

.header__social-link img {
  display: block;
  max-width: 100%;
}

.header__social-link:hover {
  opacity: 0.7;
}

.menu-item {
  margin: 0 25px;
  position: relative;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item a {
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.menu-item:after {
  display: block;
  content: "";
  left: 0;
  bottom: -6px;
  position: absolute;
  width: 0;
  border-radius: 10px;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item:hover,
.menu-item:focus {
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item:hover:after,
.menu-item:focus:after {
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.menu-item.active:after {
  width: 100%;
  height: 2px;
  background: #fff;
}

.logo:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.7;
}

.header-mob {
  display: none;
}

.header__toggle {
  display: none;
  margin-left: 27px;
  width: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 23px;
}

.header__toggle span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  margin-top: 10px;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
}

.header__toggle span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  top: -8px;
  position: absolute;
}

.header__toggle span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  top: 8px;
  position: absolute;
}

.header__toggle.header__toggle--active span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header__toggle.header__toggle--active span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header__toggle.header__toggle--active span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}

@media (max-width: 991px) {
  .main__list {
    display: none;
  }

  .header__toggle {
    display: block;
  }

  .header-mob {
    display: none;
    height: calc( 100vh - 62px);
    padding: 20px 0;
    /* 	max-height: 480px; */
  }

  .header-mob .main__list {
    display: block;
  }

  .header-mob .get-call {
    margin-top: 30px;
    display: block;
  }

  .header-mob .main__item {
    padding: 15px 10px;
    margin-right: 0;
    width: 100%;
  }

  .header-mob .main__link {
    font-size: 24px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 767px) {
  .get-call {
    display: none;
  }
}

@media (max-width: 570px) {
  .logo {
    font-size: 18px;
  }

  .header__number {
    font-size: 12px;
  }

  .header-top {
    padding: 17px 0;
  }
}

@media (max-height: 420px) {
  .header-mob {
    max-height: 420px;
    overflow-y: scroll;
  }
}

.footer {
  padding: 50px 0;
  background: #000;
  text-align: center;
  color: #fff;
}

.footer__copy {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 0;
}

.footer__policy {
  color: #fff;
  display: block;
  margin-top: 25px;
  white-space: nowrap;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  text-decoration: underline;
}

.footer__policy:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }

  .footer__copy {
    line-height: 1.5;
    font-size: 14px;
  }
}

.banner {
  position: relative;
}

.banner__slider-item {
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-position: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.banner__slider-item:before {
  content: "";
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  background: url("../img/header-bg-bottom.png") no-repeat;
  height: 70px;
  background-size: cover;
  position: absolute;
}

.banner__slider-item .container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 130.7%;
  color: #fff;
  margin-bottom: 69px;
}

.banner__title span {
  font-size: 75px;
  line-height: 91px;
  display: block;
  font-weight: 800;
}

.banner__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__desc-location {
  width: 65px;
  height: 65px;
  background: #01A9B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 22px;
}

.banner__desc-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 145%;
  color: #FFFFFF;
}

.banner__form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.banner__form .contacts__form-wrapper {
  margin-left: auto;
}

.banner__form .btn-default {
  margin-top: 35px;
}

.contacts__wrapper {
  margin-top: 55px;
}

.contacts__info {
  padding-top: 35px;
}

.contacts__block {
  margin-bottom: 30px;
}

.contacts__block-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.contacts__block-text {
  color: #222;
  color: #fff !important;
  font-size: 16px;
}

.contacts__form-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.contacts__form-text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 60px;
}

.contacts__form-wrapper {
  max-width: 455px;
  padding: 50px 50px 50px 47px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
}

@media (max-width: 767px) {
  .contacts__wrapper {
    margin-top: 40px;
  }

  .contacts__block {
    margin-bottom: 30px;
    text-align: center;
  }

  .contacts__block-title {
    font-size: 16px;
  }

  .contacts__block-text {
    font-size: 14px;
  }

  .contacts__info {
    padding-top: 0;
    margin-bottom: 30px;
  }

  .contacts__form-wrapper {
    padding: 20px 15px;
  }

  .contacts__form-title {
    font-size: 22px;
  }

  .contacts__form-text {
    font-size: 14px;
    line-height: 1.55;
    margin-bottom: 35px;
  }

  .contacts__form-wrapper .form-field input {
    height: 40px;
    font-size: 13px;
    line-height: 1.33;
  }

  .contacts__form-wrapper .form-field {
    margin-bottom: 10px;
  }

  .contacts__form-btn {
    width: 100%;
    margin-top: 10px;
    padding: 20px 15px;
    font-size: 16px;
    max-width: 100%;
  }

  .contacts__form-desc {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 1.55;
    margin-bottom: 0;
  }

  .contacts__form {
    text-align: center;
  }
}