// advan

.advan {
    // padding-top: 150px;
    position: relative;
    background: url(../img/advan-bg-1.png) no-repeat left 35%;
    z-index: 0;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/advan-bg-2.png) no-repeat right 80%;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;

    }

    &__wrapper {
        margin-top: 60px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 95px;
        &:last-child {
            margin-bottom: 0;
        }
        &-content {
            flex-grow: 1;
        }
        
        &-img {
            max-width: 50%;
            flex-shrink: 0;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        &-title {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
            color: #0F0F0F;
            margin-bottom: 90px;
        }
        
    }

    &__boxes {
        max-width: 500px;
        display: flex;
        flex-wrap: wrap;

    }

    &__box {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        &:last-child {
            margin-bottom: 0;
        }
        &-img {
            margin-right: 20px;
            img {

            }
        }
        &-content {
            font-size: 18px;
            line-height: 139.19%;
        }
    }

    

}

.advan__item.left-image {
    flex-direction: row-reverse;
    .advan__item-content {
        padding-left: 75px;
    }
}




// media queries

@media (max-width: $xl) {

    .advan__item-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
    }

    .advan__boxes {
        padding-right: 60px;
    }

    .advan__box {
        margin-bottom: 70px;
    }

    .advan__box-content {
        font-size: 16px;
        line-height: 120.7%;
    }

    .advan__item.left-image .advan__item-content {
        padding-left: 26px;
    }

    .advan__item {
        margin-bottom: 75px;
    }

}


@media (max-width: $lg) {

    .advan__item-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
    }

    .advan__boxes {
        padding-right: 18px;
    }

    .advan__box-img {
        margin-right: 20px;
        width: 44px;
        height: 44px;
    }

    .advan__box-img img {
        max-width: 100%;
        height: 44px;
    }

    .advan__item.left-image .advan__item-content {
        padding-left: 20px;
    }


    .advan__item-img {
        max-width: 360px;
        height: 424px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 424px;
        }
    }

}



@media (max-width: $lg) {

    .advan__item-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
    }

    .advan__boxes {
        padding-right: 18px;
    }

    .advan__box-img {
        margin-right: 20px;
        width: 44px;
        height: 44px;
    }

    .advan__box-img img {
        max-width: 100%;
        height: 44px;
    }

    .advan__item.left-image .advan__item-content {
        padding-left: 20px;
    }


    .advan__item-img {
        max-width: 360px;
        height: 424px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 424px;
        }
    }


}

@media (max-width: $md) {

    .advan__item-title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 35px;
    }

    .advan__item {
        flex-direction: column;
        margin-bottom: 45px;
    }

    .advan__item.left-image {
        flex-direction: column;
    }

    .advan__item-img {
        margin-top: 40px;
        max-width: 100%;
        height: auto;
        img {
            width: auto;
            height: auto;
            object-fit: cover;
            max-height: none;
        }
    }

    .advan__box {
        margin-bottom: 40px;
    }

    .advan__boxes {
        padding-right: 0;
    }

    .advan__item.left-image .advan__item-content {
        width: 100%;
        padding-left: 0;
    }

    .advan__wrapper {
        margin-top: 50px;
    }

    .advan__box-content {
        font-size: 15px;
    }

    .advan__box-img {
        margin-right: 17px;
        width: 39px;
        height: 39px;
        img {
            max-height: 39px;
        }
    }
    
}


@media (max-width: $xm) {

    .advan__box {
        margin-bottom: 45px;
    }    
 
}


@media (max-width: $xs) {

    .advan__box {
        margin-bottom: 45px;
    }

    .advan__item-title {
        font-size: 20px;
    }

    
 
}