

.tabs{
    width: 100%;
    margin-top: 60px;
    display:inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height: 2px;
    background: rgba(1, 169, 180, 0.5);;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding-right: 30px;
    margin-right: 30px;
    padding-bottom: 17px;
    border-bottom: 4px solid transparent;
}
.tabs ul li.active, .tabs ul li.active:hover{
     border-bottom: 4px solid #01A9B4;
}



// apartments


.apartments {
    margin-top: 150px;
    position: relative;
    background: #F2FAFC url(../img/apartmens-bg.png) no-repeat left 58%;
    background-size: 35%;
    z-index: 2;

    &__tabs {

        &-wrapper {
            margin-top: 70px;
        }
        &-item {

        }

        .reverse {
            .apartments__tabs-row {
                flex-direction: row-reverse;

                .col-grid {
                    display: flex;
                    flex-direction: column-reverse;
                    .img-col-12 {
                        margin-top: 0;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &-row {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
            .col-6 {
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 15px;
                padding-left: 15px;
            }

            .tabs-image {
                height: 622px;
                img {
                    max-width: 100%;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    max-height: 622px;
                    border-radius: 5px;
                }
            }

            .cols-row {
                display: flex;
                margin-left: -15px;
                margin-right: -15px;
                .col-6 {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding-right: 15px;
                    padding-left: 15px;
                    height: 280px;
                    img {
                        max-width: 100%;
                        height: 100%;
                        max-height: 280px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;

                    }
                }
            }

            .img-col-12 {
                margin-top: 30px;
                height: 310px;
                img {
                    max-width: 100%;
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    max-height: 310px;
                    border-radius: 5px;
                }
            }

        }


    }
}

.tabs__content-mob {
    display: none;
}


// media queries

@media (max-width: $xl) {

    .apartments {
        margin-top: 100px;
    }

    .section__text {
        font-size: 16px;
        line-height: 26px;
    }

    .tabs {
        margin-top: 55px;
    }

    .apartments__tabs-wrapper {
        margin-top: 25px;
    }

    .tabs ul li {
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 10px;
    }

    .apartments__tabs-row .col-6 {
        padding-right: 12px;
        padding-left: 12px;
    }

    .apartments__tabs-row .tabs-image {
        height: 437px;
        img {
            max-height: 437px;
        }
    }

    .apartments__tabs-row .cols-row .col-6 {
        padding-right: 12px;
        padding-left: 12px;
    }

    .apartments__tabs-row .img-col-12 {
        height: 201px;
        margin-top: 24px;
    }

    .apartments__tabs-row .img-col-12 img {
        max-height: 201px;
    }

    .apartments__tabs-row .cols-row .col-6 {
        height: 211px;
        img {
            max-height: 211px;
        }
    }

    .apartments__tabs .reverse .apartments__tabs-row .col-grid .img-col-12 {
        margin-bottom: 24px;
    }


}

@media (max-width: $lg) {

    .apartments__tabs-row .col-6 {
        padding-right: 10px;
        padding-left: 10px;
    }
    

    .apartments__tabs-row .tabs-image {
        height: 435px;
        img {
            max-height: 435px;
        }
    }

    .apartments__tabs-row .cols-row .col-6 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .apartments__tabs-row .img-col-12 {
        height: 206px;
        margin-top: 20px;
    }

    .apartments__tabs-row .img-col-12 img {
        max-height: 206px;
    }

    .apartments__tabs-row .cols-row .col-6 {
        height: 209px;
        img {
            max-height: 209px;
        }
    }

    .apartments__tabs .reverse .apartments__tabs-row .col-grid .img-col-12 {
        margin-bottom: 20px;
    }

    .section__text {
        font-size: 15px;
        line-height: 24px;
        text-align: left;
    }

    .tabs {
        margin-top: 35px;
    }


}


@media (max-width: $md) {

    .tabs__content-mob {
        display: block;
    }

    .tabs__content-pc {
        display: none;
    }

    .apartments__tabs-row {
        flex-wrap: wrap;
        margin-left: -7px;
        margin-right: -7px;
    }

    .apartments__tabs-row .col-6 {
        margin-bottom: 14px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .apartments__tabs-row .col-6 .tabs-image {
        height: 151px;
        img {
            max-height: 151px;
        }
    }

    .apartments__tabs-row .col-6:first-child .tabs-image,
    .apartments__tabs-row .col-6:nth-child(2) .tabs-image {
        height: 268px;
        img {
            max-height: 268px;
        }
    }

    .tabs ul li {
        padding-right: 10px;
        margin-right: 20px;
    }

}

@media (max-width: $xm) {

    .apartments__tabs-row .col-6 .tabs-image{
        height: 117px;
        img {
            max-height: 117px;
        }
    }

    .apartments__tabs-row .col-6:first-child .tabs-image,
    .apartments__tabs-row .col-6:nth-child(2) .tabs-image {
        height: 208px;
        img {
            max-height: 208px;
        }
    }

    .tabs ul li {
        padding-bottom: 1px;
        font-size: 16px;
        padding-right: 3px;
        margin-right: 17px;
        &:last-child {
            margin-right: 0;
        }
    }

    
    

}