// banner

.banner {
    position: relative;
    &__slider {
        &-item {
            height: 100vh;
            min-height: 750px;
            background-size: cover;
            display: flex !important;
            background-position: center;
            align-items: center;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 100%;
                left: 0;
                bottom: 0;
                background: url(../img/header-bg-bottom.png) no-repeat;
                height: 70px;
                background-size: cover;
                position: absolute;
            } 
            .container {
                flex-grow: 1;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__info {

    }

    &__title {
        font-weight: 600;
        font-size: 55px;
        line-height: 130.7%;
        color: #fff;
        margin-bottom: 69px;
        span {
            font-size: 75px;
            line-height: 91px;
            display: block;
            font-weight: 800;
        }
    }

    &__desc {
        display: flex;
        align-items: center;
        &-location {
            width: 65px;
            height: 65px;
            background: #01A9B4;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 50%;
            margin-right: 22px;
            img {

            }
        }
        &-text {
            font-weight: bold;
            font-size: 22px;
            line-height: 145%;
            color: #FFFFFF;
            
        }
        
    }


    &__form {
        flex-grow: 1;
        .contacts__form-wrapper {
            margin-left: auto;
        }

        .btn-default {
            margin-top: 35px;
        }
    }


}



// media queries

// @media (max-width: $lg) {

//     .banner {
//         min-height: 540px;
//     }

//     .banner__title {
//         // padding-top: 50px;
//         padding-top: 9%;
//         font-size: 34px;
//     }

//     .banner__title span {
//         font-size: 60px;
//         margin-top: 10px;
//     }

//     .banner__text {
//         font-size: 20px;
//         line-height: 1.55;
//         font-weight: 400;
//         margin-top: 10px;
//         margin-bottom: 10px;

//     }
	
// }

// @media (max-width: $md) {


//     .banner {
//         min-height: 450px;
//         text-align: center;
//     }

//     .banner__title {
//         padding-top: 50px;
//         font-size: 20px;
//     }

//     .banner__title span {
//         font-size: 38px;
//         margin-top: 10px;
//     }

//     .banner__text {
//         margin-top: 0px;
//         margin-bottom: 0px;
//         font-size: 16px;
//         line-height: 1.75;
//         br {
//             display: none;
//         }

//     }

//     .banner__btn {
//         margin: auto;
//         font-size: 16px;
//         padding: 20px 16px;
//         width: 100%;
//         max-width: 360px;
//     }
// }