// banner

.banner {
    position: relative;
    &__slider {
        &-item {
            height: 100vh;
            min-height: 750px;
            background-size: cover;
            display: flex !important;
            background-position: bottom center;
            align-items: center;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 100%;
                left: 0;
                bottom: 0;
                background: url(../img/header-bg-bottom.png) no-repeat;
                height: 70px;
                background-size: cover;
                position: absolute;
            } 
            .container {
                flex-grow: 1;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 55px;
        line-height: 130.7%;
        color: #fff;
        margin-bottom: 69px;
        span {
            font-size: 75px;
            line-height: 91px;
            display: block;
            font-weight: 800;
        }
    }

    &__desc {
        display: flex;
        align-items: center;
        &-location {
            width: 65px;
            height: 65px;
            background: #01A9B4;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 50%;
            margin-right: 22px;
        }
        &-text {
            font-weight: bold;
            font-size: 22px;
            line-height: 145%;
            color: #FFFFFF;
            
        }
        
    }


    &__form {
        flex-grow: 1;
        .contacts__form-wrapper {
            margin-left: auto;
        }

        .btn-default {
            margin-top: 35px;
        }
    }


}


.banner__dots-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 90px;
    z-index: 3;

}

.banner__dots {
    &-controls {
        display: flex;
        align-items: center;
    }
    .slick-dots {
        justify-content: flex-start;
    }

    .slick-dots li button {
        background: #fff;
    }

    .slick-dots .slick-active button {
        background: rgba(1, 169, 180, 0.5);
        border: 4px solid rgba(1, 169, 180, 0.5);
    }

}

.slide-counter {
    display: flex;
    align-items: center;
    margin-right: 15px;
    .line {
        width: 44px;
        height: 2px;
        display: block;
        background: #fff;
        margin-right: 10px;
    }
    p {
        width: 30px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 58px;
        color: #FFFFFF;
    }
}


.banner__call {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 25px;
    z-index: 3;
    &-btn {
        width: 69px;
        height: 69px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #01A9B4;
        margin-left: auto;
        transition: all 0.3s;
        &:hover {
            background: #008088;
        }
    }

}

.banner__title-mob {
    display: none;
}

.banner__dots-wrapper-mob {
    display: none;
}


// media queries


// .banner__info {
//     display: none;
// }


@media (max-width: $xl) {

    .banner__title {
        font-size: 48px;
        margin-bottom: 55px;
        span {
            font-size: 64px;
            line-height: 78px;
        }
    }
	
}



@media (max-width: $lg) {

    .banner__title:not(.banner__title-mob) {
        display: none;
    }

    .banner__title-mob {
        display: block;
    }

    .banner__desc-text {
        max-width: 230px;
        flex-shrink: 0;
    }


    .banner__form {
        .contacts__form-wrapper {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .banner__slider-item {
        min-height: 880px;
        padding: 150px 0;
    }


	
}

@media (max-width: $md) {


    .banner__info {
        margin-top: 45px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    .banner__desc-location {
        margin-right: 10px;
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 26px;
        }
    }

    .banner__desc-text {
        max-width: 157px;
        font-size: 15px;
        line-height: 22px;
    }


    .banner__form {
        .contacts__form-wrapper {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .banner__title {
        font-size: 40px;
        line-height: 130%;
        margin-bottom: 30px;
        text-align: center;
        span {
            font-size: 48px;
            line-height: 59px;
        }
    }

    .banner__wrapper {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .banner__slider-item {
        min-height: 880px;
        padding: 150px 0;
        height: auto;
    }


    .banner__dots-controls {
        justify-content: flex-end;
    }

    .banner__dots-wrapper-mob {
        display: block;
        position: static;
        .container {
            padding: 0;
        }
    }

    .banner__dots-wrapper-pc {
        display: none;
    }
    
    .slide-counter p {
        font-size: 18px;
    }

    .banner__dots {
        
        .slick-dots li button {
            margin: 0 7px;
            width: 16px;
            height: 16px;
        }

        .slick-dots li {
            &:last-child {
                button {
                    margin-right: 0;
                }
            }
        }
    }

    .slide-counter {
        margin-right: 10px;
    }

    .banner__call-btn {
        width: 47px;
        height: 47px;
        img {
            max-height: 20px;
        }
    }

    .banner__slider-item {
        padding: 100px 0;
        min-height: auto;
    }

    .banner__dots-wrapper {
        bottom: 101px;
    }

}


@media (max-width: $xm) {

    .banner__title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
        span {
            font-size: 40px;
            line-height: 49px;
        }
    }

    .banner__slider-item {
        padding-top: 90px;
        padding-bottom: 125px;
    }

    .slide-counter p {
        width: 22px;
    }

    .slide-counter .line {
        width: 20px;
    }

    .banner__dots .slick-dots li button {
        margin: 0 5px;
    }

    .banner__dots-wrapper {
        bottom: 126px;
    }

}

@media (max-width: $xs) {

    .banner__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
        span {
            font-size: 38px;
            line-height: 43px;
        }
    }

    .slide-counter {
        margin-right: 7px;
    }

    .slide-counter .line {
        width: 16px;
        margin-right: 7px;
    }

    .banner__dots .slick-dots li button {
        margin: 0 5px;
        width: 14px;
    height: 14px;
    }

    .banner__dots-wrapper {
        bottom: 125px;
    }

    .banner__desc-location {
        margin-right: 6px;
        width: 35px;
        height: 35px;
        img {
            max-height: 20px;
        }
    }

    .banner__desc-text {
        max-width: 147px;
        font-size: 14px;
        line-height: 22px;
    }

}