// contacts

.contacts {


    // .section__title {
    //     color: #fff;
    // }
    // .section__text {
    //     margin-top: 10px;
    //     text-align: center;
    //     color: #fff;
    // }

    &__wrapper {
        margin-top: 55px;
    }

    &__info {
        padding-top: 35px;
    }

    &__block {
        margin-bottom: 30px;

        &-title {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }
        &-text {
            color: #222;
            color: #fff !important;
            font-size: 16px;
        }
    }

    &__form {

        &-title {
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 60px;
        }

        &-wrapper {
            // margin: auto;
            max-width: 455px;
            padding: 50px 50px 50px 47px;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 5px;

           
        }
    }

}



// media queries

@media (max-width: $lg) {

	
}

@media (max-width: $md) {

    .contacts__wrapper {
        margin-top: 40px;
    }

    .contacts__block {
        margin-bottom: 30px;
        text-align: center;
    }

    .contacts__block-title {
        font-size: 16px;
    }

    .contacts__block-text {
        font-size: 14px;
    }

    .contacts__info {
        padding-top: 0;
        margin-bottom: 30px;
    }

    .contacts__form-wrapper {
        padding: 20px 15px;
    }

    .contacts__form-title {
        font-size: 22px;
    }

    .contacts__form-text {
        font-size: 14px;
        line-height: 1.55;
        margin-bottom: 35px;
    }

    .contacts__form-wrapper .form-field input {
        height: 40px;
        font-size: 13px;
        line-height: 1.33;
    }

    .contacts__form-wrapper .form-field {
        margin-bottom: 10px;
    }

    .contacts__form-btn {
        width: 100%;
        margin-top: 10px;
        padding: 20px 15px;
        font-size: 16px;
        max-width: 100%;
    }

    .contacts__form-desc {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 1.55;
        margin-bottom: 0;
    }

    .contacts__form {
        text-align: center;
    }

}