// contacts

.contacts {
    padding: 150px 0;
    background:  url(../img/contacts-bg.png) no-repeat left bottom;

    // background: url("../img/c");

    .contacts__form-wrapper {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(1, 169, 180, 0.25);
        border-radius: 5px;

        .btn-default {
            margin-top: 35px;
        }
    }


    &-container {
        max-width: 1080px;
    }



    &__wrapper {
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {

    }

    &__item {
        margin-bottom: 32px;
        &-title {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 17px;
        }

        &-text {
            display: flex;
            align-items: flex-start;
            font-size: 18px;
            line-height: 28px;
            color: #0E0E0E;
            img {
                margin-top: 7px;
                flex-shrink: 0;
                margin-right: 11px;

            }
        }

        a.contacts__item-text:hover {
            text-decoration: underline;
        }

        &-socials {
            display: flex;
            align-items: center;
        }

        &-social {
            margin-right: 40px;
            transition: all 0.3s;
            img {
                flex-shrink: 0;
            }
            &:hover {
                opacity: 0.7;
            }

            &__wrapper {
                margin-bottom: 0;
            }
        }

    }

    &__form {

        &-title {
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 60px;
        }

        &-wrapper {
            // margin: auto;
            max-width: 455px;
            padding: 50px 50px 50px 47px;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 5px;

           
        }
    }

}



// media queries

@media (max-width: $xl) {

    .contacts {
        padding-top: 100px;
    }

    .contacts__wrapper {
        margin-top: 55px;
    }

    .contacts__item-title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 13px;
    }

    .contacts__item-text {
        font-size: 16px;
        line-height: 28px;
    }

    .contacts__item {
        margin-bottom: 25px;
    }

    // form

     .contacts__form-wrapper {
        max-width: 371px;
        padding: 40px;
	}
    
    .contacts__form-title {
        font-size: 22px;
        line-height: 22px;
    }

    .contacts__form-text {
        font-size: 14px;
    }

    .banner__form .btn-default {
        margin-top: 30px;
    }

    .contacts__item-social {
        margin-right: 33px;
        &:first-child {
            img {
                height: 21px;
            }
        }

        &:last-child {
            img {
                
                height: 21px;
            }
        }
    }

}




@media (max-width: $lg) {


    .contacts {
        padding-bottom: 130px;
    }

    // form

    .contacts__form-wrapper {
        margin: auto;
        max-width: 351px;
        padding: 30px;
    }
    
    .banner__form .btn-default {
        margin-top: 25px;
    }
   
}




@media (min-width: 481px) and (max-width: $md) {


    // form

    .contacts__form-wrapper {
        max-width: 460px;
        padding: 30px;

        .md-form {
            margin-bottom: 0;
        }
    }

    .field-wrapper {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        .md-form {
            padding-left: 15px;
            padding-right: 15px;
            flex: 0 0 50%;
            max-width: 50%;
        }

        .md-form.name .md-form__icon {
            left: 15px;
        }

        .md-form.tel .md-form__icon {
            left: 15px;
        }

        .md-form label {
            font-size: 14px;
            left: 45px;
        }

        .md-form input {
            font-size: 14px;
        }
    }

}

@media (max-width: $md) {

    .contacts {
        padding-top: 75px;
        padding-bottom: 90px;
    }

    .contacts__wrapper {
        margin-top: 48px;
        flex-direction: column-reverse;
    }

    .contacts__item-text {
        font-size: 15px;
        line-height: 25px;
    }

    .contacts__item {
        margin-bottom: 20px;
    }

    .contacts__info {
        width: 100%;
        margin-top: 40px;
    }



}


@media (max-width: $xm) {


    // form

    .contacts__form-wrapper {
        max-width: 360px;
        padding: 35px 30px 23px 30px;
    }
    
    .banner__form .btn-default {
        margin-top: 38px;
    }
   
}