// contacts

.contacts {
    padding: 150px 0;
    // background: url("../img/c");

    .contacts__form-wrapper {
        background: #FFFFFF;
        box-shadow: 0px 0px 15px rgba(1, 169, 180, 0.25);
        border-radius: 5px;

        .btn-default {
            margin-top: 35px;
        }
    }


    &-container {
        max-width: 1080px;
    }



    &__wrapper {
        margin-top: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {

    }

    &__item {
        margin-bottom: 32px;
        &-title {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 17px;
        }

        &-text {
            display: flex;
            align-items: flex-start;
            font-size: 18px;
            line-height: 28px;
            color: #0E0E0E;
            img {
                margin-top: 7px;
                flex-shrink: 0;
                margin-right: 11px;

            }
        }

        a.contacts__item-text:hover {
            text-decoration: underline;
        }

        &-socials {
            display: flex;
            align-items: center;
        }

        &-social {
            margin-right: 40px;
            transition: all 0.3s;
            img {
                flex-shrink: 0;
            }
            &:hover {
                opacity: 0.7;
            }

            &__wrapper {
                margin-bottom: 0;
            }
        }

    }

    &__form {

        &-title {
            font-size: 24px;
            line-height: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 60px;
        }

        &-wrapper {
            // margin: auto;
            max-width: 455px;
            padding: 50px 50px 50px 47px;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 5px;

           
        }
    }

}



// media queries

@media (max-width: $lg) {

	
}

@media (max-width: $md) {

    .contacts__wrapper {
        margin-top: 40px;
    }

    .contacts__block {
        margin-bottom: 30px;
        text-align: center;
    }

    .contacts__block-title {
        font-size: 16px;
    }

    .contacts__block-text {
        font-size: 14px;
    }

    .contacts__info {
        padding-top: 0;
        margin-bottom: 30px;
    }

    .contacts__form-wrapper {
        padding: 20px 15px;
    }

    .contacts__form-title {
        font-size: 22px;
    }

    .contacts__form-text {
        font-size: 14px;
        line-height: 1.55;
        margin-bottom: 35px;
    }

    .contacts__form-wrapper .form-field input {
        height: 40px;
        font-size: 13px;
        line-height: 1.33;
    }

    .contacts__form-wrapper .form-field {
        margin-bottom: 10px;
    }

    .contacts__form-btn {
        width: 100%;
        margin-top: 10px;
        padding: 20px 15px;
        font-size: 16px;
        max-width: 100%;
    }

    .contacts__form-desc {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 1.55;
        margin-bottom: 0;
    }

    .contacts__form {
        text-align: center;
    }

}