// gallery

.gallery {
    margin-top: 150px;

    &__box {
        height: 337px;
        margin-bottom: 30px;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__wrapper {
        .row {
            max-height: 337px;
            overflow: hidden;
            transition: max-height .3s;
        }
    }

    &__switch {
        text-align: center;
        cursor: pointer;
        margin-top: 70px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        &-arrow {
            margin: auto;
            margin-top: 12px;
            display: block;
        }
    }

}

.gallery__wrapper .row.open {
    max-height: none;
    transition: max-height .3s;
}

.gallery__switch.open {
    img {
        transition: all 0.3s;
        transform: rotate(-180deg);
    }
}


// media queries

@media (max-width: $xxl) {


    .gallery__box {
        height: 272px;
        img {
            max-height: 272px;
        }
    }

    .gallery__wrapper .row {
        max-height: 272px;
    }

}


@media (max-width: $xl) {

    .gallery {
        margin-top: 100px;
    }

    .gallery__wrapper {
        .row {
            max-height: 304px;
        }

        .col-lg-3 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
    }

    .gallery__box {
        height: 304px;
        img {
            max-height: 304px;
        }
    }

    .gallery__switch {
        margin-top: 50px;
    }

}

@media (max-width: $lg) {

    .gallery__wrapper {
        .row {
            max-height: 232px;
            margin-left: -10px;
            margin-right: -10px;
        }

        .col-lg-3 {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .gallery__box {
        height: 232px;
        margin-bottom: 20px;
        img {
            max-height: 232px;
        }
    }

}



@media (max-width: $md) {

    .gallery {
        margin-top: 75px;
    }

    .gallery__wrapper {
        .row {
            max-height: 217px;
            margin-left: -7px;
            margin-right: -7px;
        }

        .col-lg-3 {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    .gallery__box {
        height: 217px;
        margin-bottom: 14px;
        img {
            max-height: 217px;
        }
    }

    .gallery__switch {
        margin-top: 40px;
    }

}



@media (max-width: $xm) {

    .gallery__wrapper {
        .row {
            max-height: 168px;
        }
    }

    .gallery__box {
        height: 168px;
        img {
            max-height: 168px;
        }
    }

    .gallery__switch {
        margin-top: 25px;
    }

}

@media (max-width: $xs) {

    .gallery__wrapper {
        .row {
            max-height: 145px;
        }
    }

    .gallery__box {
        height: 145px;
        img {
            max-height: 145px;
        }
    }

}