// popup


/* popups */

.overlay {
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.6);
    background: rgba(143, 143, 143, 0.5);
  backdrop-filter: blur(30px);
    z-index: 99999;
  }


  
  .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 800px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 15px rgba(1, 169, 180, 0.25);
    border-radius: 5px;
    background: #fff;
    border-radius: 10px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    &__row {
      display: flex;
      align-items: center;

    }

    &__content {
      padding: 48px;
    }

    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 29px;
    }

    &__text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 25px;
    }

    &__price {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 22px;
      color: #01A9B4;
      margin-bottom: 50px;
    }

    .btn-default {
      margin-top: 50px;
    }

    &__right {
      display: flex;
      
      img {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

  }
  
  .popup__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 48px;
    height: 48px;
    right: 15px;
    top: 14px;
    background: rgba(196, 196, 196, 0.5);
    backdrop-filter: blur(4px);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 50%;
  }
  
  .popup__close:hover {
    transition: all 0.2s;
    background: rgba(196, 196, 196, 1);
  }

  .verification {
    margin-top: 22px;
    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #434343;
      margin-bottom: 14px;
    }
  }  


  .reviews-overlay {

    .popup__text {
      margin-bottom: 100px;
    }

    .popup__wrapper {
      display: flex;
    }

    .popup__right {
      flex-direction: column;
      padding-top: 70px;
      padding-bottom: 50px;
      max-width: 380px;
      width: 100%;
      flex-shrink: 0;
      height: 100%;
    }

    .popup__message {
      border-left: 1px solid #CDCDCD;
      padding-left: 25px;
      padding-right: 25px;
      height: 100%;
      display: flex;
      flex-direction: column;
      &-title {
        font-size: 14px;
        line-height: 1;
        color: #A6A6A6;
        margin-bottom: 15px;
      }
    }

    textarea {
      margin-right: 25px;
      height: 100% !important;
      width: 100% !important;
      border: 0;
      font-size: 16px;
      line-height: 24px;
      user-select: none;
      outline: none;
      color: #0F0F0F;
      font-family: 'Open Sans', sans-serif;
    }

    ::-webkit-input-placeholder {color:#0F0F0F;}
    ::-moz-placeholder          {color:#0F0F0F;}/* Firefox 19+ */
    :-moz-placeholder           {color:#0F0F0F;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#0F0F0F;}

    grammarly-extension {
      display: none !important;
    }



  }

// checkbox


.checkbox__wrapper {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: left;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  display: inline-block;
  position: relative;
  padding: 0 0 0 27px;
  cursor: pointer;
  text-align: left;
  color: #0F0F0F;
  font-size: 16px;
  line-height: 27px;

}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  background-color: transparent;
  border: 2px solid #01A9B4;
}

.checkbox input:checked+.checkbox__text:after {
  display: block;
}

.checkbox__text:after {
  content: '';
  display: none;
  position: absolute;
  top: auto;
  text-align: center;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 2px solid #01A9B4;
  background: #01A9B4;
}




  // media queries


@media (max-width: $xl) {

  .popup {
    max-width:740px;
  }

  .popup__content {
    padding-right: 30px;
  }

  .popup__right {
    max-width: 337px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    height: 551px;
    & > img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      max-height: 551px;
      object-fit: cover;
    }
  }

  .popup__wrapper {
    display: flex;
  }

  // reviews popup

  .reviews-overlay .popup__right {
    max-width: 350px;
  }

  .reviews-overlay {

    .popup__content {
      padding-right: 25px;
    }

    .popup__title {
      margin-bottom: 15px;
    }

    .popup__text {
      margin-bottom: 95px;
    }

  }

}




@media (max-width: $md) {

  .popup {
    max-width: 460px;
  }

  .popup__content {
    padding: 30px;
    padding-right: 30px;
  }

  // new style

  .reversation-overlay {

    .popup__row {
      flex-direction: column-reverse;
    }

    .popup__right {
      height: 237px;
      width: 100%;
      max-width: 100%;
      img {
        max-height: 237px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
      }
    }

  }

  .popup__content {
    padding: 30px 25px;
  }

  
  .popup__title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 13px;
    text-align: center;
  }

  .popup__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .popup__price {
    font-size: 16px;
  line-height: 20px;
  margin-bottom: 55px;
  }

  .popup .btn-default {
    margin-top: 45px;
  }


  
  // reviews popup

  .reviews-overlay .popup__right {
    width: 100%;
    max-width: 100%;
  }

  .reviews-overlay {

    .popup__content {
      padding: 30px;
      padding-top: 80px;
    }

    .popup__text {
      margin-bottom: 70px;
      br {
        display: none;
      }
    }

    .popup__row {
      flex-direction: column;
    }

    .verification {
      margin-top: 20px;
    }

    .popup .btn-default {
      margin-top: 35px;
  }

  }

  .reviews-overlay .popup__right {
    padding-top: 15px;
    height: auto;
    padding-bottom: 30px;
  }

  .reviews-overlay .popup__message {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }

  .reviews-overlay textarea {
    margin-right: 0;
    max-height: 120px;
    border-bottom:  1px solid #CDCDCD;
  }

  .reviews-overlay .popup__message-title {
    margin-bottom: 12px;
  }


}


@media (max-width: $xm) {

  .popup {
    max-width: 360px;
  }

  .popup__content {
    padding: 20px;
  }

  // new style

  .reversation-overlay {

    .popup__right {
      height: 185px;
      img {
        max-height: 185px;
      }
    }

  }

  
  .popup__title {
    text-align: left;
  }

  .popup__text {
    text-align: left;
  }

  .popup .btn-default {
    margin-top: 0px;
  }

  .popup {
    .md-form {
      margin-bottom: 30px;
    }
  }

  .popup__close {
    width: 42px;
    height: 42px;
  }

    // reviews popup


    .reviews-overlay .popup__content {
      padding-top: 65px;
    }

    .reviews-overlay .popup__text {
      display: none;
    }

    .reviews-overlay .popup__title {
      margin-bottom: 57px;
    }


}

@media (max-width: $xs) {

  .popup__title {
    font-size: 20px;
    line-height: 20px;
  }

  .popup__text {
    br {
      display: none;
    }
  }

  .reversation-overlay .popup__right {
    height: 165px;
    img {
      max-height: 165px;
    }
}

.reviews-overlay .popup__content {
  padding: 30px 25px;
  padding-top: 65px;
}

}


@media (max-height: 630px) {

  .reviews-overlay .popup {
   max-height: 100vh;
   overflow-y: scroll;
   border-radius: 0;
  }

}


@media (max-height: 568px) {

   .popup {
    max-height: 100vh;
    overflow-y: scroll;
    border-radius: 0;
    &__right {
      img {
        border-radius: 0;
      }
    }
   }

}


