// price

.price {
    padding-top: 150px;
    padding-bottom: 120px;

    &__wrapper {
        margin-top: 60px;
    }

    &__item {
        box-shadow: 0px 0px 15px rgba(1, 169, 180, 0.25);
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &-content {
            padding: 50px;
            flex-grow: 1;
        }

        &-title {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 42px;
        }

        &-img {
            display: flex;
            flex-shrink: 0;
            max-width: 335px;
            height: auto;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            max-height: 456px;
            flex-direction: column;
            img {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-btn {
            margin-top: 30px;
        }

    }

    &__box {
        margin-bottom: 38px;
        &-title {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 4px;
        }

        &-price {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        &-sale {
            font-family: "Montserrat", sans-serif;
            font-weight: 800;
            font-size: 24px;
            line-height: 29px;     
            color: #01A9B4;
        }
    }
}

.price__wrapper:not(.not) {
    & > ul {
        display: none;
    }
}

// media queries

@media (min-width: $md) {

    .price__wrapper {
        .col-lg-6 {
            display: block !important;
        }
    }

}

@media (max-width: $xxl) {

    .price__item-img {
        flex-shrink: 1;
        max-height: 385px;
    }

    .price__item-content {
        padding: 35px 25px;
    }

    .price__item-title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .price__box {
        margin-bottom: 25px;
    }

    .price__item-btn {
        margin-top: 15px;
    }

}

@media (max-width: $xl) {

    .price__item-img {
        max-width: 100%;
        max-height: none;
        height: 230px;
        width: 100%;
        img {
            max-height: 230px;
        }
    }

    .price__item-content {
        width: 100%;
        padding: 30px 50px 35px 50px;
    }

    .price__item-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 18px;
    }

    .price__box {
        margin-bottom: 0;
    }

    .price__item-btn {
        margin-top: 30px;
    }

    .price__item-btn__wrapper {
        text-align: center;
    }

    .price__box-wrapper {
        display: flex;
        justify-content: space-between;
    }


    .price__item {
        flex-direction: column-reverse;
    }

    .price {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .price__box-price {
        font-size: 18px;
        line-height: 22px;
    }

    .price__box-sale {
        font-size: 22px;
        line-height: 27px;
    }

}

@media (max-width: $lg) {

    .price__item-img {
        height: 200px;
        img {
            max-height: 200px;
        }
    }

    .price__item-content {
        width: 100%;
        padding: 30px 27px 30px 27px;
    }

    .price__wrapper {

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .col-lg-6 {
            padding-left: 10px;
            padding-right: 10px;
        }

    }

    .price__item {
        margin-bottom: 20px;
    }


}


@media (max-width: $md) {

    .price__item-img {
        max-width: 198px;
        flex-shrink: 0;
        height: 302px;
        img {
            max-height: 302px;
        }
    }

    .price__item-content {
        width: 100%;
        padding: 20px;
    }

    // .price__item {
    //     flex-direction: row;
    //     margin-bottom: 0;
    // }

    .price__wrapper {

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        .col-lg-6 {
            padding-left: 10px;
            padding-right: 10px;
        }

    }
    .price__wrapper.tabs {
        & > ul {
            display: block;
            background: rgba(1, 169, 180, 0.58);
            border-radius: 30px;
            margin-bottom: 40px;
            &:after {
                height: 0px;
                background: transparent;
            }
            li {
                padding: 13px 31px;
                color: #fff;
                font-family: "Montserrat", sans-serif;
                font-weight: bold;
                font-size: 14px;
                margin: 0;
                line-height: 17px;
                border: none;
            }
            li.active {
                background: #01A9B4;
                border-radius: 30px;
                border: none;
            }
        }
    }

    .price__wrapper .col-lg-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    // .price__box-wrapper {
    //     flex-direction: column;
    //     justify-content: flex-start;
    // }

    // .price__box {
    //     margin-bottom: 17px;
    // }

    .price__box-title {
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 20px;
    }

    .price__box-sale {
        font-size: 20px;
        line-height: 24px;
    }

    .price__item-btn {
        margin-top: 13px;
    }

    .price__item-title {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 24px;
    }

    .price__item-btn__wrapper {
        button {
            padding: 21px 40px;
        }
    }

    .price {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .price__item {
        margin-bottom: 0;
    }


}

@media (min-width: $xm) and (max-width: $md) {

    .price__box-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .price__box {
        margin-bottom: 17px;
    }

    .price__item {
        flex-direction: row;
    }

}

@media (max-widtH: $xm) {

    .price__item-img {
        max-width: 100%;
        height: 200px;
        img {
            max-height: 200px;
        }
    }

    .price__item-content {
        padding: 30px 30px;
    }

    .price__item-btn {
        margin-top: 25px;
    }

    .price__item-title {
        margin-bottom: 12px;
    }


    .price__wrapper.tabs > ul li {
        padding: 13px 16px;
        &:last-child {
            margin-left: 4px;
        }
    }


}

@media (max-widtH: $xs) {


    .price__wrapper.tabs > ul li {
        padding: 11px 10px;
        &:last-child {
            margin-left: 7px;
        }
    }

}