// reviews

.reviews {

    &__wrapper {
        margin-top: 65px;
       
    }

    &__item {
        padding: 48px 30px;
        padding-bottom: 93px;
        position: relative;
        background: #fff;
        box-shadow: 0px 0px 15px rgba(1, 169, 180, 0.25);
        border-radius: 5px;
        &:after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 74px;
            bottom: 0;
            left: 0;
            background: url("../img/reviews-bottom-1.png") no-repeat;
            background-size: cover;
        }
        &-decoration {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        &-name {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 27px;
        }

        &-content {
            font-size: 16px;
            line-height: 24px;
        }

    }

    &__btn {
        margin-top: 48px;
    }

}