// variables

// $yellow: #ffd600;
$yellow: #ffd600;

// caramel color
// $yellow: #ffe7a4;


// hover speed

$speed: all 0.3s;

// media

$xxxl: 1600px;
$xxl: 1440px;
$xl: 1200px;
$lg: 1000px;
$md: 767px;
$sm: 640px;
$xm: 640px;
