/*style*/
@import "libs";

@import "variables";
@import "base";

// partials

@import "header";
@import "footer";

@import "banner";
@import "about";
@import "advan";
@import "apartments";
@import "price";
@import "reviews";
@import "gallery";
@import "contacts";

@import "popup";